@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

//$ColorPrimary: red;
//$themeBackground;

* {
  box-sizing: border-box;
  transition: 300ms;
}

body {
  background-color: #707070;
  font-family: 'Montserrat', Helvetica, sans-serif;
  line-height: 1.4;
  margin: 0px;
}

.App {
  //padding: 5vmin 20vmin 20vmin 20vmin;
  max-width: 700px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 100px;
}

a {
  color: white;
  text-decoration: none;
}

li {
  padding-bottom: 20px;
  list-style: none;
}

.buttonDelete {
  padding: 5px 10px;
  float: right;
  cursor: pointer;
  color: #5e5e5e;
  border: none;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;
  transition: 300ms;
  background: none;

  &:hover {
    background: #707070;
    color: white;
  }
}

.app-header {
  background: #b0b0b0;
  width: 100%;
  text-align: center;
  color: white;
  margin: 0px;
  padding: 40px 10px 40px 10px;
  border-radius: 10px 10px 0px 0px;
}

form {
  position: absolute;
  width: 550px;
  height: 40px;
  margin: -20px auto auto auto;
  left: 0px;
  right: 0px;
  border-radius: 100px;
}

.checkmark {
  height: 25px;
  width: 25px;
  background: none;
  transition: 300ms;
  margin: -11px;
}

label {
  height: 30px;
  padding-top: 17px;
}

.todos-container {
  padding: 40px 40px 40px 40px;
  background: #e0e0e0;
  border-radius: 0px 0px 10px 10px;
}

.check-container {
  display: inline-flex;
  background: rgba(black, 0.2);
  cursor: pointer;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  transition: 300ms;

  &:hover {
    opacity: 0.7;
  }
}

.check-container:hover input ~ .checkmark {
  //background-color: #ccc;
}

.check-container input:checked ~ .checkmark {
  background: none;
}

.checkmark:after {
  content: "";
  display: none;
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}

.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check-container input {
  margin-right: 20px;
  width: 0;
  height: 0;
  opacity: 0;
}

.new-todo-form {
  display: flex;

  .input-field {
    flex: 6;
    padding: 10px 10px 10px 20px;
    border-radius: 100px 0px 0px 100px;
    border: none;
  }

  .btn {
    flex: 1;
    background: #6EB05D;
    color: white;
    border-radius: 0px 100px 100px 0px;
    border: none;
    transition: 300ms;

    &:hover {
      background: darkgreen;
      //filter: brightness(0.7);
      cursor: pointer;
    }
  }
}